{
    "openapi": "3.0.0",
    "info": {
        "title": "Kanban Exam Project",
        "contact": {
            "name": "kent vejrup madsen",
            "url": "https://github.com/KentVejrupMadsen",
            "email": "kent.vejrup.madsen@protonmail.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://github.com/KentVejrupMadsen/EASV.Exam.Kanban.Backend/blob/main/license.md"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend-exam-zu4kv.ondigitalocean.app/1.0.0/",
            "description": "public available server"
        },
        {
            "url": "http://127.0.0.1/api/1.0.0/",
            "description": "local development server"
        }
    ],
    "paths": {
        "/api/1.0.0/": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "ed9af5a6cb1bf4a56098a083649af318"
            },
            "post": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "d4dab295237b1fc67a0930a10ae06a56"
            },
            "delete": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "29116f974712eca3aac4b77f87a2b91f",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            },
            "patch": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "8dc2a161c84314e960d863ee5756cfaf",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/accounts/me": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "ab58ab040388c6b5b42888f9f406124b",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/accounts/login": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "089028180ac190a7bcff755401a05ddb"
            }
        },
        "/api/1.0.0/accounts/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "fe9c802e2373851fea0bf593e203b946"
            }
        },
        "/api/1.0.0/accounts/identity/{id}": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "7466328d5e942f5af3e1c09535a13d49",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/accounts/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "8ed16155f97ed9c366dd3a17991a7d88",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/accounts/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "cff604b900cd83c00d5307e4b84d915d",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/projects/index": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "76c363f388e6b410083e2b91f4512a55",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/projects/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "58dd211c3b5ad05a867b654356d03003",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/projects/identity/{id}": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "599fc568d8f335b93210d6534e217bc0",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/projects/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "454dad21c41b007ccdbbe88cef30c429",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/projects/delete/{id}": {
            "delete": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "6eac15d3737b1adae6bfa807fc4f7ac4",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/tasks/index": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "cc7571e907bb446dc94f29b09c3f7fb5",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/tasks/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "79ab373e4dc777413730ab69b3bd6433",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/tasks/groups/identity/{id}": {
            "get": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "fe10f0c486d921f6d12ba21c29833e78",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/tasks/groups/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "abe57dc4f7c7004b7d6961bc2146056c",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        },
        "/api/1.0.0/tasks/groups/delete/{id}": {
            "delete": {
                "tags": [
                    "1.0.0",
                    ""
                ],
                "operationId": "2b2cfb62efae2cef52cf0ec865d2e197",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "AccountController": {
                "title": "Account Controller",
                "description": "",
                "type": "controller"
            },
            "ImagesController": {
                "title": "Image Controller",
                "description": "",
                "type": "controller"
            },
            "ProjectConfigurationController": {
                "title": "Project Configuration Controller",
                "description": "",
                "type": "controller"
            },
            "ProjectController": {
                "title": "Project Controller",
                "description": "",
                "type": "controller"
            },
            "SettingController": {
                "title": "Setting Controller",
                "description": "",
                "type": "controller"
            },
            "TaskController": {
                "title": "Task Controller",
                "description": "",
                "type": "controller"
            },
            "TaskGroupController": {
                "title": "Task Group Controller",
                "description": "",
                "type": "controller"
            },
            "TeamMemberController": {
                "title": "Team Member Controller",
                "description": "",
                "type": "controller"
            },
            "TeamMemberOptionController": {
                "title": "Team Member Option Controller",
                "description": "",
                "type": "controller"
            }
        }
    }
}